header
	{		
		width: 100%;
		z-index: -3;
	}
.widecenter
	{
		width: 100%;
		z-index: -1
		center;
	}
.IMGbig 
	{
		position: relative;
		max-height: 700px;
		width: 1499px;
		top: 0;
		overflow: auto;
		z-index: -1
	}
.sobre
	{
		z-index: 3;
		position: absolute;
		float: center;
		top: 0px;
		left: 20%;
	}
.mtop
	{
		margin-top: 80px;
	}
.naranja
	{
		background-color: #ffbb00;
		padding: 15px 30px;
		margin-top: 5px;
		width: 120px;
		height: 60px;
		left: 30px;
		position: relative;
		border-radius: 7px;
	}
.logo
	{
		width: 340px; 
		height: 54px;
		position: relative;
	}
.menu
	{
		margin-left: 40px;
	}
.der
	{
		text-align: center;
		padding-left: 15px;
		font-weight: bold;
		margin-bottom: 40px;
	}
.span
	{
		display: inline-block;
	}
li 
	{
		display: inline-block;
		margin-top: 50px;
	}
.lit
	{
		width: 300px;
		height: 220px;
		margin-right: 5px;
	}


footer
	{
		background-color: gray;
		position: absolute;
		margin-bottom: 0;
		width: 100% !important;
		padding-top: 30px;
		padding-bottom: 30px;
	}	
/*
	Inserta tu CSS aqui
*/
